/* CSS declarations go here */
/* Actually, let's try to use less instead */

li {
  text-decoration: none;
}

.axis path,
.axis line {
 fill: none;
 stroke: #000;
 shape-rendering: crispEdges;
}

.x.axis path {
 display: none;
}

.line {
 fill: none;
 stroke: steelblue;
 stroke-width: 1.5px;
}

.thumb{
	height: 250px;
	width: 350px;
	margin-bottom: 20px;

}

.thumb a{
  color: #000000;
}

.thumbnail{
	height: 250px;
	box-shadow: 0px 2px 2px #888888;
}

.thumbnail img{
  max-height: 200px;
}


a:hover{
	text-decoration: none;
}

a{
	text-decoration: none;
}

#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

.selected{
  width: 100%;
}

#page-content-wrapper {

}

/****NAVBAR****/

#sidebar-wrapper {
  margin-left: -250px;
  padding-top: 20px;
  left: 250px;
  width: 250px;
  /*background: #344A5F;*/
  background: #285f94;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

ul.sidebar-nav{
  width: 85%;
  display: block;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}


.sidebar-nav li{
  padding-bottom: 10px;
}

hr {
	padding: 0;
	margin: 0;
}

.sidebar-brand a{
	color: white;
	font-size: 26px;
	text-align: center;
}

.search-box {
	width: 100%;
	height: 40px;
	padding: 5px;
/*	text-align: center;
*/	margin-bottom: 20px;
	display: block;
}

.side-nav-label a{
	display: block;
/*	text-decoration: underline;
*/	color: #FFFFFF;
	font-size: 25px;
  text-align: center;
}

.side-nav-link{
	display: block;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 20px;
}

.navbar.container {
	color: #344A5F;
}