// Import Vendors
@import "vendor/custom.bootstrap.mixins.import.less";
@import "vendor/custom.bootstrap.import.less";

// Components
@import "components/a_component.import.less";

// Globals
@import "typo.import.less";

// Sites
@import "sites/home.import.less";

// Custom

/* CSS declarations go here */

li {
    text-decoration: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

a:hover{
    text-decoration: none;
}

a{
    text-decoration: none;
}

#wrapper {
    padding-left: 250px;
    transition: all 0.4s ease 0s;
}

.selected{
    width: 100%;
}

#page-content-wrapper {

}

/****NAVBAR****/

#sidebar-wrapper {
    padding-bottom: 25px;
    background: #ededed;
    position: fixed;
    height: 100%;
    overflow-x: visible;
    overflow-y: auto;
    z-index: 1000;
    @media (min-width: @screen-md-min){
        width: (@container-md / 12 * 2);
    }
    @media (min-width: @screen-lg-min){
        width: (@container-lg / 12 * 2);
    }

    .nav.topnav {
        margin: 10px 0;
        li {
            a {
                padding: .1em .4em;
            }
        }
    }

    .name {
        word-wrap: break-word;
    }

    .datatype {
        border-left: 3px solid;
        padding-left: 10px;
        margin-top: 20px;

        a:focus {
            background-color: inherit;
        }

        &.string {
            border-left-color: @string-color;
            // background-color: @string-color-light;

            h5, a {
                color: @string-color;
            }

            a:hover, a.active {
                background-color: @string-color-light;
            }
        }

        &.integer, &.float {
            border-left-color: @num-color;
            // background-color: @num-color-light;

            h5, a {
                color: @num-color;
            }

            a:hover, a.active {
                background-color: @num-color-light;
            }
        }

        &.date {
            border-left-color: @date-color;
            // background-color: @date-color-light;

            h5, a {
                color: @date-color;
            }

            a:hover, a.active {
                background-color: @date-color-light;
            }
        }
    }
}

hr {
    padding: 0;
    margin: 0;
}

.sidebar-brand a{
    color: white;
    font-size: 26px;
    text-align: center;
}

.search-box {
    width: 100%;
    height: 40px;
    padding: 5px;
    /*	text-align: center;
    */	margin-bottom: 20px;
    display: block;
}

.side-nav-label a{
    display: block;
    /*	text-decoration: underline;
    */	color: #FFFFFF;
    font-size: 25px;
    text-align: center;
}

.side-nav-link{
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
}

.navbar.container {
    color: #344A5F;
}

ul.questions-list {
    list-style: none;
    padding-left: 0;

    li {

        font-size: 24px;
        margin-top: 30px;
    }
}

// set some color variables so we can lighten/darken
@ans-unk: #b9b9b9;
@ans-true: #0fa007;
@ans-false: #ec2424;

.ans {
    display: inline-block;
    margin-right: .5em;
    color: #ffffff;
    width: 1.75em;
    text-align: center;

    &.unknown {
        background-color: @ans-unk;
        &.fade {
            background-color: lighten(desaturate(@ans-unk, 50%), 25%);
        }
    }

    &.true {
        background-color: @ans-true;
        &.fade {
            background-color: lighten(desaturate(@ans-true, 75%), 25%);
        }
    }

    &.false {
        background-color: @ans-false;
        &.fade {
            background-color: lighten(desaturate(@ans-false, 50%), 25%);
        }
    }

}

.charts-container {
    // same as height of floating column
    margin-bottom: 125px;
}

.chart-container {
    .control {
        margin-left: .5em;
    }
}
.floating-column {
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 125px;
    .answerable-form {
        padding-top: 20px;
        font-size: 20px;
        background-color: rgba(255,255,255,0.9);
    }
}

.chart {
    background: #eee;
    padding: 3px;
}

.chart div {
  width: 0;
  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 5px;
  color: white;
  box-shadow: 2px 2px 2px #666;
}


// VIZ styles

@string-color: #1f78b4;
@string-color-light: #a6cee3;
@num-color: #33a02c;
@num-color-light: #b2df8a;
@date-color: #e31a1c;
@date-color-light: #fb9a99;

.rickshaw_graph {

    .detail {
        .x_label {
            opacity: 0.9;
        }
    }
}

div[hist] {
    margin-bottom: 15px;
}

//doesn't work?
.string-chart {
    overflow: scroll;
    .bar {
        rect {
            fill: @string-color;
        }
    }
}

.date-chart {
    path {
        stroke: @date-color;
    }
}

.num-chart {
    rect {
        fill: @num-color;
    }
}
