<template name="twoColumns">
<head>
  <title>eda</title>
</head>

<body ng-controller="VarsController">

    <div id="wrapper">
        <!-- /.sidebar -->
        <div id="sidebar-wrapper">
            <div>
                <div class="sidebar-nav" >
                    {{> yield "sidebar-top" }}
                    <br>
                    <input type="text" placeholder="Search variable names" class="search-box">
                    <h2>Variables</h2>
                    <hr>
                    <ul>
                    <li ng-repeat="col in datasets | filter:searchText">
                        <a class="side-nav-link"  href="#"> [[col]] </a>
                    </li>  
                    </ul>  
                </div>
            </div>
        </div>


        <!-- Page Content -->
        <div class="container" id="page-content-wrapper">

            <div class="row">
                {{> yield }}
            </div>


            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p></p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>
</template>
